* {
    padding: 0%;
    margin: 0;
    outline: none;
    text-decoration: none;
    border-style: none;
    list-style: none;
    font-family: Arial;
}

//colors//
$blue:#002245;
$white:#ffff;
$orange:#ff9800;
$black:#000;
$white2:#f9f9f9;
$grey:#828282;
.container {
    width: 980px;
    margin: auto;
}

//mixins//
@mixin title {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: $black;
}

.left-bar {
    width: 400px;
    height: 100%;
    background-color: $blue;
    position: fixed;
    padding-left: 60px;
    z-index: 2;
    .items {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .logo {
            margin-top: 20px;
        }
        nav {
            height: auto;
            display: flex;
            ul {
                width: 100%;
                transition: 0.5s;
                li {
                    margin-top: 30px;
                    border-bottom: 2px solid rgba(255, 255, 255, .015);
                    width: 100%;
                    transition: 1s;
                    a {
                        color: $white;
                        text-transform: capitalize;
                        &:hover {
                            color: $orange;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
        .social-icons {
            width: 300px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            .fa {
                margin-left: 25px;
                color: $white;
            }
        }
    }
}

.content {
    padding-left: 460px;
    .slider {
        padding-top: 200px;
        padding-bottom: 200px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        filter: brightness(0.7);
        .items {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .item {
                display: flex;
                width: auto;
                align-items: center;
                flex-direction: column;
                img {
                    width: 200px;
                    height: 200px;
                    border-radius: 100%;
                }
                h3 {
                    text-transform: uppercase;
                    font-size: 45px;
                    font-weight: 700;
                    color: $white;
                    span {
                        color: $orange;
                    }
                }
                span {
                    font-weight: 500;
                    color: $white;
                }
            }
        }
    }
    .about {
        width: 100%;
        margin-top: 100px;
        padding-top: 60px;
        padding-bottom: 100px;
        .items {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            .title {
                h4 {
                    font-size: 14px;
                    color: $orange;
                }
                h3 {
                    @include title()
                }
            }
            .main-block {
                width: 100%;
                height: auto;
                display: flex;
                margin-top: 20px;
                .item {
                    width: 40%;
                    height: 407px;
                    border: 10px solid #000;
                    position: relative;
                    img {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: -20px;
                        right: 10px;
                        border-radius: 5px;
                    }
                }
                .info {
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                    .title {
                        h3 {
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 1.4;
                            color: $black;
                            span {
                                color: $orange;
                            }
                        }
                    }
                    .text {
                        display: flex;
                        p {
                            font-size: 12px;
                            line-height: 2;
                            letter-spacing: .8px;
                            word-wrap: break-word;
                            font-weight: 400;
                            color: $black;
                            span {
                                color: $orange;
                            }
                        }
                    }
                    .personal-info {
                        width: 100%;
                        display: flex;
                        height: auto;
                        align-items: center;
                        ul {
                            margin-left: 20px;
                            li {
                                margin-top: 15px;
                                display: flex;
                                align-items: center;
                                i {
                                    color: $orange;
                                }
                                h5 {
                                    margin-left: 10px;
                                    color: $grey;
                                }
                                span {
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                    .buttons {
                        display: flex;
                        a {
                            color: $white;
                            width: 215px;
                            height: 52px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $orange;
                            border-radius: 5px;
                            margin-left: 20px;
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
    .skills {
        width: 100%;
        padding: 140px 0 125px;
        background-color: $white2;
        .container {
            .title {
                span {
                    color: $orange;
                }
                h3 {
                    @include title
                }
            }
        }
        .items {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .item {
                width: 31%;
                height: 342px;
                margin-top: 20px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 10px;
                background-color: $white;
                .icon {
                    margin-left: 15px;
                    i {
                        font-size: 55px;
                        color: $orange;
                    }
                }
                .text {
                    margin-top: 15px;
                    margin-left: 15px;
                    width: 259px;
                    height: 96px;
                    h3 {
                        font-size: 20px;
                        color: $grey;
                    }
                    p {
                        color: $grey;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    .statistics {
        width: 100%;
        height: auto;
        padding-top: 100px;
        background-color: $white2;
        padding-bottom: 100px;
        .items {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            .item {
                width: 50%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                &:nth-child(2) {
                    margin-left: 50px;
                }
                .title {
                    padding-right: 80px;
                    h3 {
                        font-weight: 500;
                        line-height: 1.4;
                        color: $black;
                        span {
                            color: $orange;
                        }
                    }
                }
                .text {
                    margin-top: 15px;
                }
                .progres-title {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
                .progres {
                    width: 100%;
                    height: 8px;
                    background-color: $black;
                    @mixin indicator {
                        height: 100%;
                        background-color: $orange;
                    }
                    .indicator1 {
                        width: 95%;
                        @include indicator()
                    }
                    .indicator2 {
                        width: 80%;
                        @include indicator()
                    }
                    .indicator3 {
                        width: 90%;
                        @include indicator()
                    }
                    .indicator4 {
                        width: 85%;
                        @include indicator()
                    }
                }
            }
        }
    }
    .portfolio {
        width: 100%;
        padding-top: 100px;
        background-color: $white;
        .container {
            .top-line {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 150px;
                .title {
                    width: 100%;
                    span {
                        color: $orange;
                    }
                    h3 {
                        @include title()
                    }
                }
                .category {
                    width: 100%;
                    ul {
                        display: flex;
                        align-items: center;
                        li {
                            margin-left: 15px;
                            .all {
                                &:hover {
                                    color: $orange;
                                    transition: 0.5s;
                                }
                            }
                            a {
                                color: $black;
                            }
                        }
                    }
                }
            }
        }
        .items {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .item {
                width: 32%;
                height: 340px;
                margin-top: 20px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                border-radius: 20px;
                &:hover {
                    transform: scale(1.1);
                    transition: 1s;
                }
            }
        }
    }
    .working-period {
        width: 100%;
        padding-top: 150px;
        padding-bottom: 150px;
        background-color: $white;
        .items {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            row-gap: 20px;
            column-gap: 15px;
            .title {
                width: 100%;
            }
            .main-block {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 20px;
                grid-row-gap: 20px;
            }
            .item {
                width: 100%;
                height: 150px;
                background-color: $orange;
            }
        }
    }
}